body{
	background-color:rgb(32,55,64) ;
	margin: 0px;
}

.container{
display: flex;
flex-wrap: wrap;
justify-content: center;
}

h1{
	font-family:Times New Roman;
	font-size: 3em;
	border-bottom: 2px rgb(14,19,21);
	border-right: 2px rgb(14,19,21);
	width:400px;
	text-align: center;
	box-shadow: 4px 4px 5px #888888;
	margin-top: 10px;
}

img{
	width: 450px;
	height: 300px;
	margin: 10px;
	transition: all 1s;
	cursor: pointer;
}

img:hover{
	transform: scale(1.1);
}

